# Generate your DJANGO_SECRET_KEY using:
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

DJANGO_SECRET_KEY=replace-with-a-secure-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3

# Render automatically provides a PostgreSQL DATABASE_URL in production.